.mtj.tmp/

# Files 
*.war
*.ear
*.log
compile.bat
*.tstl
*.class
*.tstl.old
*~
.classpath
.project

#Directories
hs_err_pid*
/bin/
/src/res/
/genbin/
/gensrc/
/src/SUT.java
!/tstl-samples/*.tstl
/build/
/.settings/
/lib/
!/lib/emma.jar
!/lib/commons-cli.jar